* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  max-width: 100vw;
  /* scroll-behavior: smooth; */
}
body {
  width: 100%;
  overflow-x: hidden;
}

.move {
  transform: translateX(-246px);
  transition: transform 0.5s ease-in-out;
}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.carousel-slide {
  animation: slideOut 40s infinite forwards linear;
}
.carousel-slide2 {
  animation: slideOut2 40s infinite forwards linear;
}

.active {
  opacity: 1;
}

.carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

@keyframes slideOut {
  100% {
    left: -100%;
    /* transform: translateX(-422%); */
  }
}
@keyframes slideOut2 {
  100% {
    left: 100%;
    /* transform: translateX(-422%); */
  }
}
